{% extends "main/base.html" %}

{% block title %}Questions{% endblock %}

{% block content %}
    {% if user == question.user %}
        <h1>Add Choices to {{question.question_text}}</h1>
    {% else %}
        <h1>{{question.question_text}}</h1>
    {% endif %}
    

    <form method="post" action="#">
        {% csrf_token %}
        <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
            {% endfor %}
        </ul>
        
        {% if user == question.user %}
            <input type="text", name="new">
            <button type="submit", name="newChoice", value="newChoice", class="btn btn-success">Add Choice</button>
            <button type="submit", name="vote", value="vote", class="btn btn-success">Go to vote page</button>
        {% else %}
        <button type="submit", name="vote", value="vote", class="btn btn-success">Go to vote page</button>
        {% endif %}
    </form>
{% endblock %}